<!-- the page where administrator can add courses to database -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add course</title>
</head>
<body>
    <h1>Add course</h1>
    <form action="/admin/add-course" method="POST">
        <label for="courseName">course Name：</label>
        <input type="text" id="courseName" name="courseName" required>
        <button type="submit">submit</button>
    </form>
</body>
</html>

