<!-- main page of administrator -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin Page</title>
</head>
<body>
    <h1>Welcome! Administrator</h1>
    <ul>
        <li><a href="/admin/add-course">add course</a></li>
        <li><a href="/admin/all-courses">view all courses</a></li>
    </ul>
</body>
</html>
