<!-- if course or student is not in the database or they are not matched, throw this error page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Error Updating Grade</h1>
    <p><%= message %></p>
    <a href="/success?role=teacher">Back to Main Page</a>
</body>
</html>

